<aside class="author">
  <img src="/img/photo.jpg" class="photo" alt="Autor photo" />
  <div class="info">
    <dl>
      <dt>Author:</dt>
      <dd>Paweł Jan Czochański</dd>
      <dt>Social sites:</dt>
      <dd><a href="https://github.com/Czocher/">GitHub</a> <a href="https://keybase.io/czocher">Keybase</a> <a href="https://plus.google.com/u/0/+Pawe%C5%82JanCzocha%C5%84ski">Google+</a></dd>
      <dt>Public key:</dt>
      <dd><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x82843164B26A29FB">82843164B26A29FB</a></dd>
    </dl>
  </div>
</aside>
